@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

* {
    
    font-family: 'Anuphan', sans-serif;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
}

/* section 1*/

nav
{
    //border:1px solid black;
    height:80px;
}


.section1 {
    background-color: #F2F2F2 !important;
    //border: 1px solid black;
    width: 100%;
    
   
}

.section1_inner {
    padding: 0px 200px !important;
    height: 80vh;
    
}

.section1_left_side{
    //border:1px solid black;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.section1_left_side h2{
    font-size:50px;
    font-weight:800;
    letter-spacing:-1.5px;
}

    .section1_left_side p {
        font-size: 20px;
        line-height:30px;
        padding-left:4px;
        padding-top:10px;
        padding-bottom:10px;
    }

.section1_left_side .btn{
    //border: 1px solid black;
    background:black;
    color:white;
    letter-spacing:1px;
    border-radius:25px;
    padding:15px 0px;
    width:200px;
}

.section1_right_side img {
    width:100%; 
    height:100%; 
    object-fit:cover;
}

@media only screen and (max-width:480px){

    .wrapper{
        //border:1px solid red;
        //overflow:hidden;
        height:auto;
    }
    .section1{
        width:480px;
        //border:1px solid red;
        
    }

    .section1_inner {
        padding: 0px 0px !important;
        height: auto;
        margin-bottom:40px;
    }

    .section1_left_side{
        margin-bottom:30px;
    }
}

/*section 2*/
.section2{
    height:50vh;
    padding:0px 200px;
    margin:80px 0px;
    border:1px solid white;
    width:100%;
    
}

.section2-inner {
    margin-top: 150px;
    //border: 1px solid blue;
    width: 100%;
    padding:10px!important;
    z-index:300;
    
}

.section2-inner h4{
    margin-bottom:10px;
}

.section2-inner p{
    line-height:30px;
    width:250px;
}

.section2 .block {
    border: 1px solid black;
    padding: 20px 0px;
    
}

.block1 {
    border: 8px solid #C2534B !important;
    background-color:white;
}

.block2 {
    border: 8px solid #00BF8D !important;
    background-color: white;
}

.block3 {
    border: 8px solid #1484EC !important;
    background-color: white;
}

.block4 {
    border: 8px solid #F1A40E !important;
    background-color: white;
}

@media only screen and (max-width:480px){
    .section2 {
        height: 800px;
        padding: 0px!important;
        margin: 80px 0px;
        //border: 1px solid black;
        width: 100%;
    }

    .section2-inner {
        margin: 30px auto;
        //border: 1px solid blue;
        width: 80%;
        padding: 10px !important;
    }

    .block {
        margin: 10px auto;
        border: 8px solid #c2534b ;
        //z-index:300!important;
    }

        .section2-inner p {
            line-height: 30px;
            width: auto;
            text-align:center;
        }
}


.section3{
    height:50vh;
    border:1px solid black;
    padding:0px!important;
    margin:0px!important;
    //transform:translateY(-100px);
    background-image:url('images/2.jpg'); 
    background-position:50% 50%; 
    background-repeat:no-repeat;
    background-size:cover;
    //z-index:-300!important;
}

@media only screen and (max-width:500px){

}

.section4{
    height:130vh;
    background:white;
    width:100%; 
}

.section4-inner{
  //border:1px solid black;
  margin-top:100px;
  padding:0px 100px!important;
  height:auto;
}

.section4-card-left {
    border: 1px solid black;
    text-align: right;
    border-right: 12px solid #1484EC;
    height: 200px;
    padding: 5px 5px;
}

.section4-card-left-another {
    border: 1px solid black;
    text-align: right;
    border-right: 12px solid #C2534B;
    height: 200px;
    padding: 5px 5px;
}

.section4-card-right {
    border: 1px solid black;
    text-align: left;
    border-left: 12px solid #F1A40E;
    margin-top: 140px;
    height: 200px;
    padding: 5px 5px;
}

.section4-card-right-another {
    border: 1px solid black;
    text-align: left;
    border-left: 12px solid #00BF8D;
    height: 200px;
    margin-top: 140px;
    padding:5px 5px;
}

.section4_inner_wrapper i {
    font-size: 60px;
    
}

.section4_inner_wrapper{
    //border:1px solid black;
}

.iw{
    margin:80px!important;
}

.icon-wrapper{
    //border:1px solid red;
    display:inline-block;
    height:80px;
    width:80px;
    text-align:center;
    padding-top:8px;
    border-radius:20px;
}

.first_icon {
    color: white;
    background-color: #1484EC;
}

.second_icon {
    color: white;
    background-color: #F1A40E;
}

.third_icon {
    color: white;
    background-color: #C2534B;
}

.fourth_icon {
    color: white;
    background-color: #00BF8D;
}

@media only screen and (max-width:480px){
    .section4 {
        //background-color: yellow;
        height: auto;
        width: 480px;
        padding-top: 0px;
        padding-bottom: 20px;
        //border: 10px solid red;
        margin:0px!important;
    }

    .section4-inner {
        //border:1px solid black;
        margin-top: 100px;
        padding: 0px!important;
        height: auto;
        width:90%;
    }

    .section4-card-right {
        border: 1px solid black;
        text-align: left;
        border-left: 12px solid #F1A40E;
        margin-top: 10px;
        height: 200px;
        padding: 5px 5px;
    }

    .section4-card-right-another {
        border: 1px solid black;
        text-align: left;
        border-left: 12px solid #00BF8D;
        height: 200px;
        margin-top: 15px;
        padding: 5px 5px;
    }

    .iw {
        margin: 20px !important;
    }
}

.section5 {
    background-image: url('images/3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top:80px;
}

.section5-inner {
    height: 450px;
    width: 800px;
    background-color: white;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    border:0px solid black;
    display:flex;
    //flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
}

.section5-inner h2{
    font-weight:900;
    font-size:40px;
    margin-top:20px;
}

.subheading{
    margin-top:20px;
}

.subheading1{
    width:600px;
    margin:30px auto 0px;
    font-size:16px;
}

.underline {
    //display: inline-block;
    height: 20px;
    width: 500px;
    text-align: center;
    margin: 0px auto;
}

.top_underline {
    background-color: #F1A40E;
}

.bottom_underline {
    background-color: #C2534B;
}

.readmore{
    border:1px solid black;
    width:200px;
    margin:30px auto 55px;
    padding:10px;
    border-radius:25px;
    background-color:black;
    color:white;
}

@media only screen and (max-width:480px){
    .section5{
        height:110vh;
        width:480px;
        text-align:center;
        
    }

    .section5-inner {
        width: 400px;
        margin: auto;
        height: 625px;
        
    }

    .subheading1 {
        width: 300px;
        margin: 30px auto 0px;
        font-size: 16px;
    }

    .underline{
        width:400px;
    }
}

.section6{
    height:100vh;
    width:100%; 
    text-align:center;
    padding:80px 0px!important;
}

.section6 .tagline{
    width:700px;
    text-align:center;
    margin:30px auto;
    font-size:18px;
    line-height:30px;
}

.section6-inner{
    padding: 10px 100px;
}

.section6-wrapper-row{
   //border:1px solid black;
   //padding:20px 50px;
}

.section6-inner .stats {
    margin-top:30px;
    //border: 1px solid black;
    padding:0px!important;
    //padding: 0 3px 0 3px; /* ask dilli for solution here -- how to introduce gap between columns? */
    background-color:white;
    height:300px;
}

.section6-inner h2{
    font-weight:900;
    font-size:40px;
}

.section6-inner .number{
    font-size:48px;
    font-weight:900;
}

.test{
    font-weight:900;
}

.another_underline{
    height:30px;
    width:100%; 
    //border:1px solid red;
    padding:0px!important;
}

.ul_one {
    background-color: #C2534B;
}

.ul_two {
    background-color: #00BF8D;
}

.ul_three {
    background-color: #1484EC;
}

.ul_four {
    background-color: #F1A40E;
}

@media only screen and (max-width:480px){
    .section6{
        height:auto;
    }

    .section6-inner{
        padding:0px!important;
        height:180vh;
        border:0px solid blue;
    }


    .section6 .tagline{
        width:400px;
        margin:15px auto!important;
        //border:2px solid red;
        text-align:center;
    }

    .section6-inner .stats{
        width:350px;
        margin:15px auto;
        border:1px solid black;
        height:auto;
    }
}

.section7 {
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('images/4.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7 h1{
    color:white;
    font-weight:900;
    font-size:70px;
}

.section7 form{
    display:flex;
    width:500px;
    //border:1px solid white;
    margin-top:30px;
}

    .section7 .form-control {
        border-radius: 25px;
        padding:10px;
    }

    .section7 .btn {
        width: 200px;
        border-radius: 25px;
        padding: 10px;
        color:white;
        font-weight:900;
        text-transform:uppercase;
        letter-spacing:1.2px;
    }

    @media only screen and (max-width:480px){
        .section7{
            height:100vh;
            //:10px solid red;
            text-align:center;
        }

        .section7 form{
            flex-direction:column;
            justify-content:center;
            width:450px;
        }

        .form-control{
            width:400px;
            margin:auto;
        }

        .section7 form .btn{
            margin:20px auto;

        }
    }

.section8 {
    height: 100vh;
    width: 100%;
    background-color: #F2F2F2;
    border:2px solid red;
    
}

.section8-inner {
    //border: 1px solid black;
    height: 80vh;
    margin-top: 100px;
    padding:0px 90px;
}

.section8-inner-row h1{
    margin-bottom:50px;
}

.section8-inner-row-left {
    //border:1px solid black;
}

.user {
    //border: 1px solid red;
    height: 180px;
}

.user-wrapper {
    display: flex;
    height: 100%;
    background-color: white;
}

.user-wrapper-left, .user-wrapper-right{
    height:100%; 
    
}

.user-wrapper-right{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-evenly;
    margin-left:10px;
}

.user-wrapper-right p{
    font-size:18px;
}

.section8-inner-row-left, .section8-inner-row-right{
    //border:1px solid blue;
    margin-top:0px;
    height:auto;
}

.section8-inner-row-left-top, .section8-inner-row-left-bottom{
    margin-bottom:80px;
}

.user-bar {
    display: inline-block;
    height: 100%;
    width: 10px;
    //border: 1px solid black;
    //background-color: #1484EC;
}

.u1 {
    background-color: #1484EC;
}

    .u2 {
        background-color: #808080;
    }

.u3 {
    background-color: #00BF8D;
}

.u4 {
    background-color: #C2534B;
}

.links{
    //border:1px solid black;
    display:flex;
    justify-content:space-between;
    width:100px;
    align-items:center;
}

    .links i {
        border: 1px solid white;
        padding: 5px;
        background-color: black; 
        color:white;
    }

.section8-inner-row-right{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.social-links span{
    //border:1px solid black;
    padding:15px;
    
}

.social-links span i{
    font-size:32px;
}

.i1 {
    background-color: #3B5998;
    color:white;
}

.i1 {
    background-color: #3B5998;
    color: white;
}

.i2 {
    background-color: #55ACEE;
    color: white;
}

.i3 {
    background-color: #C536A4;
    color: white;
}

.i4 {
    background-color: lawngreen; 
    color:white; 
}

.i5 {
    background-color: #4176FA;
    color: white;
}

.section8-inner-row-right .title {
    font-size: 30px;
    margin-bottom: 15px;
}

@media only screen and (max-width:480px){
    .section8{
        //background-color:yellow;
        height:200vh;
    }

    .user{
        margin-bottom:30px;
    }

    .user-wrapper{
        width:300px;
        margin:auto;
        height:180px;
    }

    .social-links{
        width:450px;
        margin:auto;
    }
}